@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .input-label {
    @apply inline text-base font-medium text-gray-700 md:min-w-[120px] mb-1 md:mb-0;
  }

  .btn {
    @apply flex h-10 items-center justify-center rounded-xl bg-slate-900 px-4 text-slate-100;
    @apply hover:bg-slate-400 hover:text-slate-950;
  }

  input {
    @apply !shadow-none !ring-0;
  }

  .generated-text {
    > * + * {
      @apply mt-4;
    }

    h1 {
      @apply mb-6 text-center text-3xl font-bold;
    }

    h2 {
      @apply mt-5 text-2xl font-bold;
    }

    h3 {
      @apply mt-4 text-xl font-bold;
    }

    p {
      @apply text-base font-medium;
    }
  }
}

body {
  font-family: "Inter", sans-serif;
  color: theme(colors.slate.700);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
